.container-selected-works {
    display: flex;
    flex-direction: column;

}


.header-selected-works {
    display: inline-block;
    border: #1C1D1F 1px solid;
    border-radius: 49px;
    padding: 24px 34px 24px 24px;
    font-size: 72px;
    font-family: 'Sora';
    color: #5125FF;
    margin: 44px auto 106px auto;

}

.header-selected-works img {
    width: 37px;
    height: 32px;
    margin-right: 22.67px;
}

.work-card {
    display: flex;
    padding-left: 151px;
    margin-top: 105px;
}

.title-work {
    font-size: 118px;
    font-family: "Sora";
    color: #1C1D1F;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
}

.work-dscrp {
    font-size: 18px;
    color: #1C1D1F;
    width: 389px;
    margin-top: 135px;
    font-family: 'Sora';
    margin-left: 15px;
}

.work-tags-block {
    display: flex;
    margin-top: 20px;
}

.work-tag {
    border-radius: 7px;
    padding: 6px 12px;
    background: #d9d6d6;
    margin: 0 12px;
    font-family: 'Sora';
    font-size: 14px;
    font-weight: 600;
}

.work-open-btn {
    display: inline-block;
    font-size: 16px;
    font-family: 'Sora';
    padding: 14px 32px;
    border-radius: 22px;
    border: #1C1D1F 1px solid;
    margin-top: 61px;
    margin-left: 15px;
}

.work-open-btn img {
    width: 16px;
    margin-left: 16px;

}

img.work-img {
    transition: all 1s ease;

}

img.work-img:hover {
    transform: rotate(-30deg) scale(1.1);
}

.work-img-frame {
    margin-left: 200px;
}


.year-line {
    width: 1061px;
    border-bottom: #9F9F9F 1px solid;
    margin-left: 16px;
}

.year-line-block {
    display: flex;
    align-items: center;
    margin-left: 162px;
    color: #9F9F9F;
    font-size: 16px;
    font-family: 'Sora';
}

.all-project-btn {
    background: #1C1D1F;
    border-radius: 22px;
    height: 65px;
    margin: 74px 162px 0 162px;
    font-size: 18px;
    font-family: "Sora";
    color: #FCFCFF;
    border: none;

}

