@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

.logo {
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #1C1D1F;
    font-family: "Sora";
    font-weight: 700;
}


.header {
    display: flex;
    justify-content: space-between;
}


.menu-btn {
    border-radius: 22px;
    width: 70px;
    height: 48px;
    border: 1px #1C1D1F solid;
    padding: 12px;
    background: transparent;
    margin-left: 14px;
}

.line {
    border-top: 1.5px solid #1C1D1F;
    border-bottom: 1.5px solid #1C1D1F;
    height: 10px;
    width: 30px;
    margin: 0 auto;
}

.contact-btn {
    border-radius: 22px;
    border: 1px solid #1C1D1F;
    padding: 14px 32px;
    font-size: 18px;
    font-family: "Sora";
    background: #5125FF;
    color: #ffff;
    width: 132px;
    height: 48px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 162px;
    margin-right: 83px;
    margin-top: 172px;
}

.content-text1 {
    font-size: 54px;
    font-family: "Sora";
    font-weight: 400;
    line-height: 54px;
}

.content-text1 span {
    font-weight: 700;
    color: #5125FF;
}

.content-text2 {
    font-family: 'Sora';
    margin-top: 13px;
}

.letstalk-btn {
    padding: 14px 32px;
    border-radius: 22px;
    width: 173px;
    height: 51px;
    color: #FCFCFF;
    background: #1C1D1F;
    border: none;
    margin-top: 53px;
    font-size: 18px;
}

.letstalk-btn img{
    margin-left: 13px;
}

.scroll-icon{
    display:flex;
    justify-content: left;
    align-items: center;
    margin-left: 162px;
}


.icon img{
    height: 22px;
    width: 12px;
    margin-right: 8px;

}

.scroll-icon .text{
    font-family: "Sora";
}
